@using Hospital_management.CustomModels
@{
    Layout = "_LayoutAdmin";
}
@model List<CustomDoctor>

<form method="post" class="d-none deleteForm" id="tokenForm"></form>

<div class="container mt-25">

    @if (Model.Count > 0)
    {
        <h2 class="text-center title">Həkimlər</h2>
        <a href="/Admin/AddDoctor" class="btn btn-custom btn-green d-block ml-auto mb-15" style="width:fit-content">
            Həkim Əlavə Et
            <i class="fas fa-plus ml-5"></i>
        </a>

        <div class="table-wrapper table-wrapper-dark">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>№ <i class="fas fa-sort"></i></th>
                        <th>Ad <i class="fas fa-sort"></i></th>
                        <th>Soyad <i class="fas fa-sort"></i></th>
                        <th>Yaş <i class="fas fa-sort"></i></th>
                        <th>Vəzifə</th>
                        <th>Təcrübə <i class="fas fa-sort"></i></th>
                        <th>Təyinat sayı <i class="fas fa-sort"></i></th>
                        <th>Redaktə</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        foreach (var doctor in Model)
                        {
                            <tr>
                                <td>@(Model.IndexOf(doctor) + 1)</td>
                                <td>@doctor.Name</td>
                                <td>@doctor.Surname</td>
                                <td>@doctor.Age</td>
                                <td>@doctor.Position</td>
                                <td>@doctor.Experience</td>
                                <td>@(doctor.AppointmentCount > 0 ? doctor.AppointmentCount : "Təyinat yoxdur")</td>
                                <td class="d-flex gap-15 align-items-center">
                                    <a href="/Admin/EditDoctor/@doctor.Id" class="btn btn-custom btn-blue">
                                        Redaktə Et
                                        <i class="fas fa-edit ml-5"></i>
                                    </a>

                                    <button type="button" doctorId="@doctor.Id" class="btn btn-custom btn-red deleteDoctor-btn">
                                        Sil
                                        <i class="fas fa-trash ml-5"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4 class="text-center" style="color: #e62e2e;">Həkim mövcud deyil.</h4>
    }

</div>
